@import "tailwindcss";

@font-face {
  font-family: "Cambria";
  src: url("/media/fonts/Cambria.woff2") format("woff2"),
    url("/media/fonts/Cambria.woff") format("woff"),
    url("/media/fonts/Cambria.otf") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@theme {
  --font-family-sans: "Cambria", ui-sans-serif, system-ui, sans-serif;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border: 8px solid transparent; /* Matches track color */
  background: #0d0c0d; /* Track/background color */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background: #282525; /* Scrollbar color */
  border-radius: 0px;
  border: 8px solid transparent; /* Matches track color */
  border-radius: 8px;
  background-clip: padding-box; /* Important: keeps background inside the border */
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3b3b; /* Hover color */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:active {
  background: #181616; /* Dragging/active color */
  background-clip: padding-box;
}

/* Removes the arrows */
::-webkit-scrollbar-button {
  display: none;
}
