.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  image-rendering: pixelated;
  background-image: url('/img/eta-gui/ItemBox_24x24.png');
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
